.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px; /* 사각형을 원으로 만드려면 width의 반으로 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
}
